In [4]:
import time_tracker
import table_plan

In [5]:
daily = table_plan.Table()

In [6]:
daily.table_data()

Enter the break_time_b_w_session in mins : 20
Enter the total sessions required : 4
Enter the any input select 0 for 4-12 or 1 for 5-12 or 2 for 6-12 or 3 for 12-9 : 1

In [7]:
daily.read_csv()

,date,total_time_available(h),break_time_b_w_session(mins),total_work_time(h),total_sessions,morning_slots(12am - 11:59 am),afternoon_slots(12pm - 6pm),evening_slots(6pm-11:59pm),tiffin_break(mins),lunch_break(mins),snacks_break(mins),dinner_break(mins),entertainment_time(h),time_per_slot(mins)
0,2023-06-05,16,20,10.666667,4,5:00 am - 12:00 pm,12:00 pm - 6:00 pm,6:00 pm - 9:00 pm,30,30,30,30,60,175.0

In [8]:
daily_time = time_tracker.topics()

In [9]:
daily_time.alltopics()

        main_topics       sub_topics
0   web_development         html_css
1   web_development       javascript
2   web_development            react
3      web_scraping         selenium
4      web_scraping           scrapy
5      web_scraping            BSoup
6    web_frameworks            flask
7    web_frameworks           django
8    web_frameworks          fastapi
9         databases            mysql
10              eda           pandas
11              eda       matplotlib
12              eda          seaborn
13  python_projects              eda
14  python_projects      webscraping
15  python_projects  web_development
16  python_projects   web_frameworks
17  python_projects           opencv

In [10]:
daily_time.add_date('05-06')

05-06 is added

In [11]:
daily_time.select_topics(1,2,3)

,main_topics,sub_topics,05-06,time_slot_1_start,time_slot_1_end,time_slot_2_start,time_slot_2_end,time_slot_3_start,time_slot_3_end,time_slot_4_start,time_slot_4_end,time_slot_5_start,time_slot_5_end
1,web_development,javascript,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,web_development,react,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,web_scraping,selenium,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
daily_time.time_start(1,1)

,main_topics,sub_topics,05-06,time_slot_1_start,time_slot_1_end,time_slot_2_start,time_slot_2_end,time_slot_3_start,time_slot_3_end,time_slot_4_start,time_slot_4_end,time_slot_5_start,time_slot_5_end
1,web_development,javascript,CHOOSEN,20:10:10.254547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,web_development,react,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,web_scraping,selenium,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
daily_time.end_time(1,1)

,main_topics,sub_topics,05-06,time_slot_1_start,time_slot_1_end,time_slot_2_start,time_slot_2_end,time_slot_3_start,time_slot_3_end,time_slot_4_start,time_slot_4_end,time_slot_5_start,time_slot_5_end
1,web_development,javascript,CHOOSEN,20:10:10.254547,20:10:10.734702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,web_development,react,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,web_scraping,selenium,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
daily_time.table()

done

,main_topics,sub_topics,05-06,time_slot_1_start,time_slot_1_end,time_slot_2_start,time_slot_2_end,time_slot_3_start,time_slot_3_end,time_slot_4_start,time_slot_4_end,time_slot_5_start,time_slot_5_end
0,web_development,javascript,CHOOSEN,20:10:10.254547,20:10:10.734702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,web_development,react,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,web_scraping,selenium,CHOOSEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN